# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries (useful for us so it is commented)
#*.so
#*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries (useful for us so it is commented)
#*.lai
#*.la
#*.a
#*.lib

# Executables
*.exe
*.out
*.app

# Code::Blocks
*.depend
*.layout
*.bmarks
